<footer class="footer" data-background-color="transparent">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li><a href="#">Item 01</a></li>
                <li><a href="#">Item 02</a></li>
                <li><a href="#">Item 03</a></li>
                <li><a href="#">Item 05</a></li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, template made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>