{% load static %}
<header class="main-header">

    <!-- Logo -->
    <a href="{% url 'core:home' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>N</b> <3</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Nadja</b> <i class="fa fa-heart"></i></span>
    </a>

    <!-- Nav bar -->
    <nav class="navbar navbar-static-top">

        <div class="navbar-custom-menu">
            
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ request.user.profile_image.url }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ request.user.get_full_name }}</span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ request.user.profile_image.url }}" class="img-circle" alt="User Image">
                            <p>{{ request.user.get_full_name }}</p>
                        </li>
                        
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                            <div class="col-xs-4 text-center">
                                {% comment %} TODO: Seguidores {% endcomment %}
                                <a href="#">Seguidores</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                {% comment %} TODO: Fotos {% endcomment %}
                                <a href="#">Fotos</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                {% comment %} TODO: Datas {% endcomment %}
                                <a href="#">Datas</a>
                            </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url 'accounts:profile' request.user.id %}" class="btn bg-purple">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
